/* src/App.css */


.card-hover-effect {
  transition: transform 0.3s ease-in-out;
}

.card-hover-effect:hover {
  transform: scale(1.05); /* Adjust scale value as needed */
}

.how-it-works-section {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 40px; 
  padding: 8%;
}





/* Add additional styles as needed */

#logocenter {
  display: flex;
  justify-content: center;
  align-items: center;
}










/* Media queries */
@media (min-width: 760px) {
  .footfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
